<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627555697682-112h7ck44funs7o09jnm5h0nmn4pqs6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627555697682-112h7ck44funs7o09jnm5h0nmn4pqs6u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>627555697682-kllje5kd534029ukgj2hbqeobj4da1jo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8gf6FAObDKURH6JvYsXTmRncg8xjQ8tE</string>
	<key>GCM_SENDER_ID</key>
	<string>627555697682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pritambhingole.vela</string>
	<key>PROJECT_ID</key>
	<string>loviq-33ac0</string>
	<key>STORAGE_BUCKET</key>
	<string>loviq-33ac0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627555697682:ios:581a27a3964262be1784cb</string>
	<key>DATABASE_URL</key>
	<string>https://loviq-33ac0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
